<h1>Todos os usu치rios</h1>
<ul>
    <%# Itera sobre a lista de usu치rios e renderiza o partial 'user' para cada inst칙ncia %>
	<%= render partial: 'user', :collection => @users %>
</ul>

<%# Renderiza o partial 'form' e passa @user como argumento para o par칙metro 'user' %>
<%= render 'form', user: @user %>
